*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: #383c3b;
    position: relative;
}

.elem{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;

}

.elem h1{
    font-size: 6vh;
    position: relative;
    z-index: 9;
    color: aqua;
    mix-blend-mode: difference;


}

.elem h1:hover{
    font-size: 40px;
    color: rgb(214, 193, 3);
    
}

.elem img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    /*transform: translate(-50%,-50%);*/
    opacity: 0;
    transition: all linear 0.5s;
}